<%= form_with(model: rider) do |form| %>
  <% if rider.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(rider.errors.count, "error") %> prohibited this rider from being saved:</h2>

      <ul>
        <% rider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block" %>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block" %>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :city_of_origin, style: "display: block" %>
    <%= form.text_field :city_of_origin %>
  </div>

  <div>
    <%= form.label :state_of_origin, style: "display: block" %>
    <%= form.text_field :state_of_origin %>
  </div>

  <div>
    <%= form.label :placeholder, style: "display: block" %>
    <%= form.text_field :placeholder %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
